.title{
    background: #fa15df;
    background: linear-gradient(97deg, rgba(179, 43, 163, 0.87) 6%, rgba(25, 3, 33, 0.85) 100%);    
    margin: 15px;
    border-radius: 10px;
}

.titleButton{
    background: #4d0222;
    background: linear-gradient(180deg, rgba(77, 2, 34, 0.31) 0%, rgba(37, 8, 13, 1) 39%, rgba(36, 8, 11, 1) 20%, rgba(0, 0, 0, 0.93) 75%);
}