.navbarTop{
  background-color: var(--pink-400);
}
.navbarLinks{
  background-color: var(--pink-500);
}
@media (min-width: 300px) and (max-width: 500px) {
  .navbarLinks a{
    font-size: 13px;
  }
}
.logoManosdeDiosa {
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

.searchButtonMb button {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  border-radius: 50px;
}
.searchButtonMb {
  display: none;
}

.searchBar input {
  color: var(--accent-contrast);
  outline: none;
  width: 500px;
  height: 40px;
  border-radius: 8px;
}
.searchBar {
  margin-right: 20px;
}

.loginButton button {

  background: var(--g-pink-deep);
  padding: 10px 10px;
  border-radius: 50px;
  font-weight: bold;
  transition: all 100ms ease-in-out;

  cursor: pointer;
}

.loginButton button:hover {
  transform: scale(1.03);
}
@media (min-width: 700px) and (max-width: 770px){
  .searchBar {
    width: 300px;
  }
}
@media (min-width: 300px) and (max-width: 700px) {
  
  .searchBar {
    display: none;
  }

  .searchButtonMb {
    display: flex;
  }

  @media (min-width: 400px) and (max-width: 500px) {
    .logoManosdeDiosa {
      width: 100px;
    }

    .olfranTitle span:first-child {
      font-size: 20px;
    }
    .olfranSubTitle {
      font-size: 13px;
    }
    .loginButton button {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 11px;
      gap: 5px;
    }
    .searchButtonMb button {
      padding: 8px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 11px;
      gap: 5px;
    }
  }
  @media (min-width: 300px) and (max-width: 400px) {
    .logoManosdeDiosa {
      width: 90px;
    }

    .olfranTitle span:first-child {
      font-size: 17px;
    }
    .olfranSubTitle {
      font-size: 10px;
    }
    .loginButton button {
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 10px;
      gap: 5px;
    }
    .searchButtonMb button {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 10px;
      gap: 5px;
    }
  }
}

.openSidebar {
  display: flex;
}

.bubble {
  top: 65px;
  right: 10px;
  background-color: var(--cream-300);
  padding:5px 10px 5px 30px;
}
.bubblePointer{
  width: 10px;
  height: 10px;
  background: var(--cream-300);
  right: 12px;
  top: -4px;
}
.bubble button{
  background: none !important;
  border: none;
  font-size: 12px;
  cursor: pointer;
}
@media (min-width: 300px) and (max-width:400px) {
  .bubble {
    top: 53px;
    right: 35px;
  }
  .bubble button{
    top: -1px;
    left: 0px;
  }
  .bubble p{
    font-size: 12px;
  }
}
@media (min-width: 400px) and (max-width:500px) {
  .bubble {
    top: 60px;
    right: 45px;
  }
  .bubble p{
    font-size: 12px;
  }
  .bubble button{
    top: -4px;
    left: -5px;
  }
}
@media (min-width: 500px) and (max-width:700px) {
  .bubble {
    top: 78px;
    right: 55px;
  }
  .bubble p{
    font-size: 12px;
  }
  .bubble button{
    top: -4px;
    left: 0 auto;
  }
}
@media (min-width: 700px) {
  .bubble {
    top: 80px;
    right: 50px;
  }
  .bubble svg{
    width: 18px;
    height: 18px;
  }
  .bubble button{
    top: -2px;
  }
}
