.googleButton{
    background: linear-gradient(90deg, #4286f4ce 0%, #34a853cc 25%, #fbbd05c2 50%, #ea4435c9 75%);
}
.faceButton{
    background: linear-gradient(90deg, #1877F2 0%, #4680FF 100%);

}
@media (min-width: 300px) and (max-width: 400px) {
    .googleButton, .faceButton{
        font-size: 12px;
        & svg{
            width: 16px;
            height: 16px;
        }
    }

}
@media (min-width: 400px) and (max-width: 500px) {
    .googleButton, .faceButton{
        font-size: 15px;
        & svg{
            width: 18px;
            height: 18px;
        }
    }

}
@media (min-width: 500px) and (max-width: 700px) {
    .googleButton, .faceButton{
        font-size: 19px;
        & svg{
            width: 19px;
            height: 19px;
        }
    }

}