@import './cssVars/colors.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
  user-select: none;
  font-family: "Playfair Display", serif;
  
}
body{
  background-color: var(--cream-250);

}
::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
  margin: 10px !important;
}

::-webkit-scrollbar-track {
  background: var(--pink-200);
  border-radius: 10px;
  margin: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--pink-300);
  border-radius: 10px;

  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--pink-300);
}



/* === Mejora visual en móviles === */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--pink-300);
  }
}
