@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  user-select: none;
}
body {
  background-color: black;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
}

::-webkit-scrollbar-track {
  background: #111; /* fondo del canal */
  border-radius: 10px;
  margin: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #444, #222);
  border-radius: 10px;
  border: 2px solid #111;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #666, #333);
}

/* === Scrollbar Firefox === */
* {
  scrollbar-width: thin;
  scrollbar-color: #444 #111;
}

/* === Mejora visual en móviles === */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #555, #222);
  }
}
